# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore virtual environments
env/
venv/

# Ignore Docker files
*.log
*.tmp
.DS_Store

# Ignore data files that shouldn't be in the repository
data/*.csv
data/*.json
data/*.txt

# Ignore specific environment files
.env
